.search {
  padding: 12px 12px;
}

.search-input {
  display: block;
  width: 100%;
  padding: 12px;
  max-width: 1440px;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 4px;
}

.search-input:focus {
  outline: none;

  box-shadow: 0px 0px 15px 1px #1890FF;
}