@import '~antd/dist/antd.css';

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.woff2') format('woff2'), url('./fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  padding: 16px;
  max-width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}


/*
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: 'Inter', Arial, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 320px) {
  .main {
    width: 100%;
    padding: 10px;
  }
}

.movies {
  display: flex;
  margin-top: 35px;
  justify-content: center;
  font-family: 'Inter', Arial, sans-serif;
  color: #000000;
}

.movie-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
*/